*{
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-color: gray;
}
h2{
    font-family: 20px;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    text-shadow: 0 4px 5px black;
}
.clock{
    display: flex;

}

.clock div{
    margin: 6px;
    position: relative;
}

.clock span{
    width: 100px;
    height: 80px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    margin: 5px;
    border-radius: 4px;
}
#text{
    height: 30px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: rgb(17, 16, 20);
    opacity: 0.7;
}
#pmam{
    bottom: 0px;
    position: absolute;
    width: 50px;
    height: 30px;
}
